<hr/>
<p>musicianhomepage works!</p>



<app-catalogue></app-catalogue>

<a routerLink="/login">Logout</a>


<!-- Sample code for reference -->
<!-- <div style="background-color: orange">
<hr/>
<h4>Sample code for reference only</h4>
<ul>
    <li *ngFor="let musician of musicians">
        {{ musician.first_name }} {{ musician.last_name }}
        <button *ngIf="musician.last_name == 'Garcia'" 
            (click)="makePlaySong()"
            [style.color]="playSong ? 'red' : 'green'"
            >
            HEYYYYYY NOWWWWW
        </button>
    </li>
</ul>
</div> 
<app-song></app-song>-->
